.footer {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    text-align: "center";
    padding: 50px;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.footer-links {
    color: #797878;
}

.footer-links:hover {
    color: #2d2b2b;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

/*
.footer-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;

}

.footer-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
*/

.footer-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
    font-weight: 300
}